.git
.gitignore
.env
.env.example
Dockerfile
docker-compose.yml
/vendor/
/node_modules/
/storage/logs/
/storage/framework/sessions/
/storage/framework/cache/
/storage/framework/testing/
/storage/framework/views/
/public/hot
/public/storage
README.md
